<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="profile-right.css">
    <link rel="stylesheet" href="profile-right-skill.css">
    <link rel="stylesheet" href="profile-right-skil-2.css">
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <header>
        <div class="navbar">
            <nav>
                <ul class="menu">
                    <li class="logo">
                        <!-- change the name of logo according to your name of image (mani/vengu) -->
                        <a href="#"><img src="p2.png" alt="Placeme Logo" style="height: 30px;"></a>
                    </li>
                    <div class="item">
                        
                    
                        <li ><a href="{% url 'job_seeker:home' %}"><i class="fa-solid fa-house"></i>Home</a></li>
                    </div>
                    <div class="item">
                        
                    
                        <li><a href="{% url 'job_seeker:job' %}"><i class="fa-solid fa-briefcase"></i>Jobs</a></li>
                    </div>
                    <div class="item">
                        <li><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-bell"></i>Notifications</a></li>
                    </div>
                    
                    <li class="item button"><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-user"></i> 
                      Profile</a></li>
                    <li class="toggle" id="menu-toggle"><span class="bars"></span></li>
                    <li class="item button"><a href="{% url 'auth:login' %}">Log In</a></li>
                    <li class="item">
                        <select name="Usertypes" onchange="location = this.value;">
                            <option value="{% url 'job_seeker:home' %}">Job Seeker</option>
                            <option value="{% url 'recruiters:home' %}">Recruiter</option>
                            <option value="{% url 'administrator:dashboard' %}">Administrator</option>
                            <option value="{% url 'refer_and_earn:home' %}">Refer and earn</option>
                        </select> 
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="profile-container"> 
            <div class="left-container">
                <div class="profile-pic">
                    <div class="pic-div">
                        <img src="profile image.png" class="pic-photo">
                        <button class="btn">+</button>
                    </div>
                    
                </div>
                <div class="profile-link">
                    <div class="link-name">
                       <ul class="left-ul">
                        <li>
                            <div class="li-1">
                                <div class="personal-div">personal info</div>
                                <div class="height"></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-1">
                                <div class="personal-div">Education</div>
                                <div class="height"></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-1">
                                <div class="personal-div">Key Skills</div>
                                <div class="height"></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-1">
                                <div class="personal-div">Perference</div>
                                <div class="height"></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-1">
                                <div class="personal-div">Internship</div>
                                <div class="height"></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-1">
                                <div class="personal-div">Employement</div>
                                <div class="height"></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-1">
                                <div class="personal-div">Career Info</div>
                                <div class="height"></div>
                            </div>
                        </li>
                       </ul>
                        


                    </div>
                    <div class="logout-div">
                        <div class="logout-btn-div">
                            <button class="logout-btn">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="info-container">
                    <div class="info-name">



                        <div class="info-name1">
                            <div class="name-div">
                                <h1>Venky</h1>
                                <i class="fa-solid fa-pencil"></i>
                            </div>
                            <div class="detial-div-name">
                                <p>Diplamo/ITI</p>
                                <p>don bosco disloma and polytechnic college</p>
                            </div>
                            
                        </div>
                        <div class="info-date">
                            <p class="update-p">Profile Last Updated - </p>
                            <p class="date">2 Feb 24</p>
                        </div>


                    </div>

                    <div class="detail-main">
                        <div class="detail-1">



                            <div class="gender-box">
                                <ul class="gender-box-ul">
                                    <li>
                                        <div class="gender-box-person">
                                            <i class="fa-solid fa-user"></i>
                                            <p>Female</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gender-box-date">
                                            <i class="fa-solid fa-calendar-week"></i>
                                            <p>15-01-2003</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gender-box-place">
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>2/203 Kadapakkam, Changalpatu</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>




                            <div class="phone-box">
                                <ul class="phone-box-ul">
                                    <li>
                                        <div class="phone-box-person">
                                            <i class="fa-solid fa-phone"></i>
                                            <p>9344533082</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="phone-box-date">
                                            <i class="fa-solid fa-envelope"></i>
                                            <p>mohamedrasith134 @gmail.com</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="phone-box-place">
                                            <i class="fa-solid fa-suitcase"></i>
                                            <p>Fresher</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>







                        <div class="uploadfile-div">
                            <div class="color-div">
                                <div class="resume">
                                    <ul class="resume-ul">
                                        <li class="resume-li1">
                                            <a class="resume-a1">
                                                <i class="fa-regular fa-envelope"></i>
                                                <p>Verify Email</p>
                                            </a>
                                        </li>
                                        <li class="resume-li2">
                                            <a class="resume-a2">
                                                <i class="fa-regular fa-file"></i>
                                                <p>Add Resume</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="upload-file">
                                    <button class="upload-btn">Upload file</button>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
                <div class="skill-container">
                    <div class="education">
                        <div class="education-name1">
                            <h2>Education</h2>
                            <div class="add-div">
                                <a>Add</a>
                                <i class="fa-solid fa-pen-to-square"></i>
                            </div>
                        </div>
                        <div class="education-name2">
                            <div class="education-name2-1">
                                <div class="education-name2-1-col">
                                    <h2>Don Bosco Diploma and polytechnic college</h2>
                                    <p>Diploma in Mecahnical</p>
                                </div>
                                <div class="education-name2-1-date">
                                    <p>May 2021</p>
                                </div>
                            </div>
                            <div class="education-name2-2">
                                <div class="education-name2-1-col">
                                    <h2>Don Bosco Diploma and polytechnic college</h2>
                                    <p>Diploma in Mecahnical</p>
                                </div>
                                <div class="education-name2-1-date">
                                    <p>May 2021</p>
                                </div>
                            </div>
                            <div class="education-name2-3">
                                <div class="education-name2-1-col">
                                    <h2>Don Bosco Diploma and polytechnic college</h2>
                                    <p>Diploma in Mecahnical</p>
                                </div>
                                <div class="education-name2-1-date">
                                    <p>May 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="key-skills">
                        <div class="key-headline">
                            <h4>Key Skills</h4>
                            <div class="key-add-div">
                                <a>Add</a>
                                <i class="fa-solid fa-pen-to-square"></i>
                            </div>
                        </div>
                        <div class="key-list">
                            <div class="key-list-div">
                                <ul class="key-list-ul">
                                    <li class="key-list-li">
                                        HTML<button class="key-list-li-btn">x</button>
                                    </li>
                                    <li class="key-list-li">
                                        Css<button class="key-list-li-btn">x</button>
                                    </li>
                                    <li class="key-list-li">
                                        Javascript<button class="key-list-li-btn">x</button>
                                    </li>
                                    <li class="key-list-li">
                                        React.js<button class="key-list-li-btn">x</button>
                                    </li>
                                    <li class="key-list-li">
                                        Node<button class="key-list-li-btn">x</button>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="key-list-more">
                                <button class="more-btn">More <i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>

                    </div>
                    <div class="Perference">
                        <div class="Perference-heading">
                            <h4>Perference</h4>
                            <div class="Perference-add-div">
                                <a>Add</a>
                                <i class="fa-solid fa-pen-to-square"></i>
                            </div>
                        </div>
                        <div class="languages">
                            <h4>Languages</h4>
                            <div class="languages-row">
                                <ul class="languages-ul">
                                    <li>
                                        <div class="english-div">
                                            <h4>English</h4>
                                            <i class="fa-solid fa-pen"></i>
                                        </div>
                                        <p>Can read and write</p>
                                    </li>
                                    <li>
                                        <div class="english-div">
                                            <h4>English</h4>
                                            <i class="fa-solid fa-pen"></i>
                                        </div>
                                        <p>Can read and write</p>
                                    </li>
                                    <li>
                                        <div class="english-div">
                                            <h4>English</h4>
                                            <i class="fa-solid fa-pen"></i>
                                        </div>
                                        <p>Can read and write</p>
                                    </li>
                                </ul>
                                <div class="key-list-more">
                                    <button class="more-btn">More <i class="fa-solid fa-arrow-right"></i></button>
                                </div>
                            </div>

                            <h3>Preferred location</h3>
                            <p class="Preferred-text">Add Preferred Work Location</p> 
                        </div>
                    </div>



                    <div class="employement">
                        <div class="employement-heading">
                            <h4>Employement</h4>
                            <div class="employement-add-div">
                                <a>Add</a>
                                <i class="fa-solid fa-pen-to-square"></i>
                            </div>
                        </div>
                        <div class="employement-flex">
                            <div class="employement-play">
                                <p class="employement-role">Densign Engineer</p>
                                <p class="employement-company">ABC company Private limited</p>
                            </div>
                            <div class="employement-date-div">
                                <p class="employement-date">FEB 2003-DEC 2003 / 11 months</p>
                                <p class="employement-time">Part Time</p>
                            </div>
                        </div>
                        <div class="employement-flex">
                            <div class="employement-play">
                                <p class="employement-role">Densign Engineer</p>
                                <p class="employement-company">ABC company Private limited</p>
                            </div>
                            <div class="employement-date-div">
                                <p class="employement-date">FEB 2003-DEC 2003 / 11 months</p>
                                <p class="employement-time">Part Time</p>
                            </div>
                        </div>
                    </div>




                    <div class="internship">
                        <div class="internship-heading">
                            <h4>Internship</h4>
                            <div class="internship-add-div">
                                <a>Add</a>
                                <i class="fa-solid fa-pen-to-square"></i>
                            </div>
                        </div>
                        <div class="internship-flex">
                            <div class="internship-play">
                                <p class="internship-role">Densign Engineer</p>
                                <p class="internship-company">Mahendra co Private limited</p>
                            </div>
                            <div class="internship-date-div">
                                <p class="internship-date">03 Nov 22</p>
                                <p class="internship-time">Internship</p>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
            
        </div>
    </main>
</body>
</html>